node_modules/
tsconfig.json
package-lock.json
jest.config.ts
jest.config.js
tests/
src/
coverage/
.github/
.DS_Store
badges/coverage-branches.svg
badges/coverage-functions.svg
badges/coverage-lines.svg
badges/coverage-statements.svg